.feature-box{
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba($color-black, .5);
    transition: all .3s;

    @include respond(tab-port){
        padding: 2rem;
    }

    &__icon {

        font-size: 6rem;
        display: inline-block;
        background-image:linear-gradient(to right, $color-black, $color-primary-darker);
        -webkit-background-clip:text;
        color: transparent;
        margin-bottom: .5rem;
        transition: all .3s;

        @include respond(tab-port){
            margin-bottom: 0;
        }

        &:hover{
            transform: scale(1.2);

        }

    }
    &:hover{
        transform: translateY(-1rem) scale(1.03);
    }
}